body 
{
	background-color: #ccccaa;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,177) 97%);
	background-image: -moz-linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,177) 97%);
	background-image: -webkit-linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,177) 97%);
	background-image: -ms-linear-gradient(bottom, rgb(153,153,153) 5%, rgb(170,170,153) 13%, rgb(204,204,177) 97%);
	padding: 10px;
	font-size: 28px;	
}

section {
    opacity: 0;
    height: 0px;
    overflow: hidden;
    -webkit-transition: opacity 400ms linear 0s;  
    -moz-transition: opacity 400ms linear 0s;	
    -ms-transition: opacity 400ms linear 0s;
    transition: opacity 400ms linear 0s;     
}

section.current {
    opacity: 1;
    height: auto;
    overflow: auto;
}

section.center {    
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;  
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;  
  -ms-box-orient: vertical;
  -ms-box-pack: center;
  -ms-box-align: center;  
}

section > h1 {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 12px;
    background-color: #660000;
    color: white;
    padding: 3px 15px 3px 15px;
}

#warning {
    display: none;
}

.no-flexbox #warning, 
.no-opacity #warning, 
.no-csstransitions #warning {
    display: block;
    color: red;
    font-size: smaller;
    position: fixed;
    bottom: 0px;
}